@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes stickRotation {
  0% {
    transform-origin: 90% 90%;
    transform: rotate(30deg);
  }
  100% {
    transform-origin: 120% 120%;
    transform: rotate(8deg);
  }
}

.contain {
  @apply container mx-auto px-4;
}

.bottom-up-animation {
  @apply before:duration-300 relative before:absolute before:left-0 before:top-0 before:w-full before:bg-yellow before:opacity-50 before:h-0 hover:before:h-10;
}

.form-input {
  @apply w-full px-4 py-2 border border-black dark:border-white rounded outline-none dark:bg-stone-900 dark:text-white bg-stone-300 dark:placeholder:text-gray-400  placeholder:text-gray-600  placeholder:ltr:capitalize text-black focus:placeholder:opacity-0 placeholder:duration-300 placeholder:opacity-100 focus:outline-none;
}

.form-button {
  @apply dark:bg-purple dark:hover:bg-purple/80 bg-yellow hover:bg-yellow/80 shadow-xl py-2 px-4 rounded text-black dark:text-white ltr:font-bold ltr:dark:font-normal;
}

.time-curve {
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

*:focus-visible {
  outline: 2px solid #eda521;
}

.card-side {
  @apply absolute w-full h-full rounded-md p-4;
}
