@tailwind base;
@tailwind components;
@tailwind utilities;

.contain {
  @apply container mx-auto px-4;
}

.bottom-up-animation {
  @apply before:duration-300 relative before:absolute before:left-0 before:top-0 before:w-full before:bg-yellow before:opacity-50 before:h-0 hover:before:h-10;
}

.form-input {
  @apply w-full px-4 py-2 border rounded outline-none focus:ring-purple bg-stone-900 text-white focus:placeholder:opacity-0 placeholder:duration-300 placeholder:opacity-100;
}

@keyframes stickRotation {
  0% {
    transform-origin: 90% 90%;
    transform: rotate(30deg);
  }
  100% {
    transform-origin: 120% 120%;
    transform: rotate(8deg);
  }
}

/* @font-face {
  font-family: 'abdo';
  src: url('./assets/fonts/abdo.ttf') format('truetype');
} */
